/* Palitra
#212121 - secondary-text-color
#757575 - main-text-color
#F5F5F5 - background-color
#2196F3 - accent-color
#FFFFFF - white-color
#F5F4FA - background-color
#F5F5F5 - background-color
#2F303A - footer
#EEEEEE - gallery background */

:root{
    --accent-color:#2196F3;
    --title-text-color:#212121;
    --main-text-color:#757575;
    --white-color:#ffffff;
    --button-color:#F5F4FA;
}


/* Studio css */


.studio-main{
    background-color: #ffffff;
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
}
.link{
    text-decoration: none;
}

.logo{
    color: #000000;
    font-family: Raleway, sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1,2;
letter-spacing: 0.03em;
}
.web-logo{
    color:var(--accent-color);
}

/* Styles for header */

.list{
    list-style: none;
}

/* site nav */

.site-nav .link{
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;

}

.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}

.contact-link{
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;


}

/* styles for headers contacts */
.contact-link:hover,
.contact-link:focus{
    color: var(--accent-color);
}

/* Styling hero section */
.hero{
    background-color: #2F303A;
}
.hero-title{
color: var(--white-color);
font-family: Roboto, sans-serif;
font-size: 44px;
font-weight: 900;
line-height: 1.4;
letter-spacing: 0.06em;
text-align: center;


}

.hero-button{
    color: var(--white-color);
    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 1.9;
letter-spacing: 0.06em;
text-align: center;

}

/* Section features */

.features-title{
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: left;

}

.features-text{
    color: var(--main-text-color);
    font-family: Roboto,sans-serif;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;

}

/* work section */

.work-title{
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
   
    
}

/* team sectioin  */

.team-title{
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
   
    
}

.team-member{
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.03em;


}
.team-job{
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0.03em;


}

/* Styles for footer */
.footer-logo{
    color: var(--white-color);
    font-family: Raleway, sans-serif;
font-size: 26px;
font-weight: 700;
line-height: 1,2;
letter-spacing: 0.03em;
}
.footer{
    background-color: #2F303A;
    
}
.address{
    font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;


}
.address-street{
    color: var(--white-color);
}
.address-contact{
  
    color: #ffffff;
}
















/* Portfolio Page */


.portfolio-main{
background-color: var(--white-color);
font-family: Roboto, sans-serif;
}


/* Portfolio navigation  */


.nav-button{
background-color: var(--button-color);
color: var(--title-text-color);
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.6;
letter-spacing: 0.03em;
text-align: center;

}

.nav-button:hover,
.nav-button:focus{
    background-color: var(--accent-color);
    color: var(--white-color);
}

/* portfolio gallery */

.portfolio-title{
color: var(--title-text-color);
font-family: Roboto, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 2;
letter-spacing: 0.06em;


}
.portfolio-text{
color: var(--main-text-color);
font-family: Roboto;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;


}




